<!-- 需求：设置不同形状的机器人部件 -->
<robot name="mycar">
    <link name="base_link">
        <!-- 可视化标签 -->
        <visual>
            <!-- 形状 -->
            <geometry>
                <!-- 立方体 -->
                <!-- <box size="5.0 3.0 1.0" /> -->
                <!-- 圆柱 -->
                <!-- <cylinder radius="0.5" length="2.1" /> -->
                <!-- 球体 -->
                <!-- <sphere radius="0.3" /> -->
                <!-- 皮肤 -->
                <mesh filename="package://urdf01_rviz/meshes/autolabor_mini.stl"/>

            </geometry>
            <!-- 偏移量和倾斜精度 -->
            <!-- 
                xyz坐标 设置机器人模型在x y z上的偏移量
                rpy翻滚俯仰与偏航角度(3.14=180度 1.57=90度)  设置倾斜角度
            -->
            <!-- <origin xyz="0 0 0" rpy="1.57 0 0" /> -->
            <origin xyz="3 2 1" rpy="1.57 0 0" />
            <!-- 颜色: 
                r=red 
                g=green 
                b=blue 
                a=alpha 透明度
                四者取值[0,1] 
            -->
            <material name="black">
                <color rgba="0.7 0.5 0.6 0.5" />
            </material>
        </visual>
    </link>
</robot>